<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/Perfil_Luciano.png" class="img-fluid">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p>López Luciano Adolfo</p>
        <p>Full Stack Developer Jr</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de mí</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure tempora ea itaque a, vel temporibus fuga nemo iste veniam obcaecati libero pariatur nisi consectetur animi quam adipisci, quae reprehenderit modi.</p>
        </span>
    </div>
</div>
