.row{
    background-color:rgb(46, 46, 207);
}

footer{
    color: #fefefe;
    font-size: 16pt;
    display: flex;
    flex-direction: column;
    text-align: center;
    box-shadow: 2px -2px 5px rgb(244, 233, 233);


}