.row{
    padding: 20px;
}
div{
    background-color: rgb(162, 162, 244);
}

/* Estilo de la foto de perfil*/
@media(min-width: 576px){
    #fotPerfil{
        position: absolute;
        width: 20%;
        box-shadow: 3px 3px 3px rgb(123, 111, 238);
        left: 12%;
        top: 550px;
    }
}
@media(max-width: 575px){
    #fotPerfil{
        position: absolute;
        width: 30%;
        box-shadow: 3px 3px 3px rgb(123, 111, 238);
        left: 12%;
        top: 510px;
    }
}

/*etiqueta nombre*/
#nombre{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    font-size: 16pt;
    margin-top: 3%;
}
